.mat-chip-list {
  outline: transparent;
  overflow: hidden;
}

.blank-placeholder {
  display: none;
}

.none-placeholder {
  cursor: pointer;
  color: rgba(0, 0, 0, 0.54);
  border-bottom: 1px solid transparent;

  &:hover {
    border-bottom-style: dashed;
  }
}

.no-results {
  background-color: inherit;
}

.dummy-input {
  width: 0;
  height: 0;
  padding: 0;
  border: 0;
  display: table;
}

:host ::ng-deep {

  .cdk-drop-list {
    max-width: 100%;
  }

  .mat-form-field {
    width: 100%;
    letter-spacing: inherit;
    margin-left: 0px;

    input.mat-chip-input {
      width: 0px;
    }

    &.inited {
      cursor: pointer;
    }

    &.mat-focused.inited {
      &:not(.multiple).has-keyword .mat-chip {
        margin-left: -1000px;
      }

      input.mat-chip-input {
        width: 100%;
      }
    }

    &:not(.inited):not(.has-value) {
      input.mat-chip-input {
        width: 100px;
      }
    }

    &:not(.inited) {
      .mat-form-field-underline {
        visibility: hidden;
      }

      .mat-chip {
        cursor: pointer;
      }
    }

    .mat-form-field-infix {
      width: unset;
    }

    &.mat-form-field-appearance-outline .mat-form-field-flex {
      display: flex;
      align-items: center;
    }

    .mat-form-field-prefix,
    .mat-form-field-suffix {
      display: flex;

      .clear {
        cursor: pointer;
      }
    }

    &.mat-form-field-appearance-legacy.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
      transform: translateY(-1.34375em) scale(0.75);
    }

    .mat-chip-list-wrapper {
      cursor: pointer;
      line-height: 0;
      margin: -4px 0;

      .mat-chip {
        &:not(.cdk-drag-disabled) {
          cursor: move;
        }
      }

      input.mat-chip-input {
        flex: 1;
        margin-right: 0;
        margin-bottom: 2px;
      }
    }
  }

  .mat-chip-list-wrapper .mat-chip {
    margin: 4px 4px 0 0;
    line-height: normal;
  }
}

::ng-deep {
  .fs-autocomplete-chips-panel {
    &.fetching {
      .custom-results,
      .mat-option:not(.static-option) {
        opacity: .5;
      }
    }

    &:not(:hover) {
      .mat-active .option-chip {
        background-color: rgb(42 42 42 / 10%);
      }
    }

    .mat-option-text {
      align-items: center;
      display: inline-flex;
      height: inherit;
    }

    .static-templates {
      position: sticky;
      bottom: 0;
      width: 100%;
      background: #fff;
      mat-option:first-child {
        border-top: 1px solid #e0e0e0;
      }
    }

    .invalid-message .mat-option-text {
      line-height: normal;
      flex-direction: column;
      align-items: start;
      font-size: 80%;
    }

    .mat-option {
      line-height: 45px;
      height: 45px;

      &.option-text {
        .check {
          margin-left: 5px;
          font-size: 85%;
        }

        &.valid .check {
          color: rgb(15, 170, 15);
        }

        &:not(.valid) .check {
          color: rgb(234, 27, 9);
        }
      }

      &.option {
        padding: 0;
      }

      &.multiple .option-chip {
        padding-left: 8px;
      }

      .option-chip {
        user-select: none;
        display: flex;
        text-overflow: ellipsis;
        overflow: inherit;
        cursor: pointer;
        padding: 0 16px;
        align-items: center;
        height: inherit;
        width: 100%;

        .mat-chip {
          cursor: pointer;
          pointer-events: all;

          .mat-icon {
            margin-right: 5px;
          }
        }
      }

      .option-chip:hover,
      .add-icon:hover {
        background-color: rgb(0 0 0 / 10%);
      }

      &.mat-active,
      &:hover:not(.mat-option-disabled),
      &:focus:not(.mat-option-disabled) {
        background: none;
      }

      .add-icon {
        display: flex;
        font-size: 24px;
        height: 100%;
        align-items: center;
        width: 45px;
        display: block;
        text-align: center;
        user-select: none;

        mat-icon {
          margin: 0;
        }
      }
    }
  }

  .mat-chip.fs-autocomplete-chip {
    background-color: #f3f3f3;
    white-space: nowrap;
    box-shadow: none !important;
    user-select: none;
    max-width: 100%;

    &:hover::after {
      opacity: 0;
    }

    &.cdk-drag-placeholder {
      opacity: .5;
    }

    .item-image {
      width: 30px;
      height: 30px;
      object-fit: cover;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 50% 50%;
      margin-right: 5px;
      display: flex;
      border-radius: 50%;
      flex-shrink: 0;
    }

    .item-content {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .item-template {
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    .item-icon {
      margin: 0 5px 0 -5px;
    }

    .item-suffix {
      display: flex;
      align-items: center;

      a {
        display: flex;
      }

      .mat-icon {
        color: #8f8f8f;
        opacity: 1;
        margin-left: 3px;
        margin-right: -5px;
        cursor: pointer;
        transform: scale(.77);
        &:hover {
          color: #202020;
        }
      }
    }

    &.size-small {
      height: 25px;
      font-size: 85%;
      padding: 0 8px;
      min-height: auto;

      .item-image {
        width: 25px;
        height: 25px;
      }

      .item-icon {
        transform: scale(0.8);
        margin-right: 0;
      }
    }

    &.imaged {
      padding-left: 0;

      .item-image {
        margin-left: -1px;
      }
    }
  }
}
