.blank-placeholder {
  display: none;
}

.no-results {
  background-color: inherit;
}

:host ::ng-deep {
  mat-form-field {
    width: 100%;
    letter-spacing: inherit;
    margin-left: 0px;

    &.inited {
      cursor: pointer;
    }

    &:not(.inited):not(:hover) {
      .mat-form-field-underline {
        visibility: hidden;
      }

      .mat-mdc-notch-piece {
        border-color: transparent;
      }

      fs-chip {
        cursor: pointer;
      }
    }

    .mat-mdc-form-field-infix {
      width: unset;
      display: flex;
      gap: 5px;
      flex-wrap: wrap;

      input {
        cursor: pointer;
        border: none;
        outline: none;
        width: auto;
      }
    }
  }

  fs-chips {
    display: inline-flex;
  }

  fs-chip {
    margin-right: 5px;
    margin-top: 0 !important;

    .chip-content {
      display: flex;
      align-items: center;
    }
  }
}

::ng-deep {
  .fs-autocomplete-chips-panel {
    padding: 0 !important;

    &.fetching {
      .custom-results,
      .mat-option:not(.static-option) {
        opacity: .5;
      }
    }

    &:not(:hover) {
      .mat-active .option-chip {
        background-color: rgb(42 42 42 / 10%);
      }
    }

    .option-chip {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      padding: 0 16px;
      align-items: center;
      display: flex;

      fs-chip {
        cursor: pointer;
      }
    }

    .static-templates {
      position: sticky;
      bottom: 0;
      width: 100%;
      background: #fff;

      mat-option:first-child {
        border-top: 1px solid #e0e0e0;
      }
    }

    .invalid-message .mat-option-text {
      line-height: normal;
      flex-direction: column;
      align-items: start;
      font-size: 80%;
    }

    .mat-option {
      line-height: 45px;
      height: 45px;

      &.option-text {
        .check {
          margin-left: 5px;
          font-size: 85%;
        }

        &.valid .check {
          color: rgb(15, 170, 15);
        }

        &:not(.valid) .check {
          color: rgb(234, 27, 9);
        }
      }

      &.option {
        padding: 0;
      }

      &.multiple .option-chip {
        padding-left: 8px;
      }

      .option-chip:hover,
      .add-icon:hover {
        background-color: rgb(0 0 0 / 10%);
      }

      &.mat-active,
      &:hover:not(.mat-option-disabled),
      &:focus:not(.mat-option-disabled) {
        background: none;
      }

      .add-icon {
        display: flex;
        font-size: 24px;
        height: 100%;
        align-items: center;
        width: 45px;
        display: block;
        text-align: center;
        user-select: none;

        mat-icon {
          margin: 0;
        }
      }
    }
  }

}
