<mat-form-field
    [appearance]="appearance"
    [floatLabel]="'always'"
    [ngClass]="{ 
      inited: inited, 
      multiple: multiple, 
      'form-field-padless': padless,
      'panel-open': autocompleteSearch.isOpen, 
      'has-value': hasValue,
      'float-label-always': floatLabel === 'always',
      'has-keyword': !!keyword
    }"
    (click)="focus()">
  <mat-label>
    {{ label || placeholder }}
  </mat-label>
  <ng-container *ngFor="let item of model; let index = index">
    <ng-container
      [ngTemplateOutlet]="chipTemplate"
      [ngTemplateOutletContext]="{ 
        item: item, 
        index: index,
        removable: removable && !disabled && multiple,
        selecting: false
      }">
    </ng-container>
  </ng-container>
  <input
    matInput
    (input)="inputed($event)"
    (cleared)="clearClick()"
    type="text"
    [disabled]="disabled"
    autoSizeInput
    [minWidth]="5"
    autocomplete="off"
    [readonly]="readonly"
    (keydown)="keyDown($event)"
    (focus)="focused()"
    (blur)="blured()"
    [name]="name"
    [matAutocomplete]="autocompleteSearch"
    [placeholder]="model.length === 0 ? 'None' : ''"
    [(ngModel)]="keyword"
    [fsClear]="!disabled && allowClear && inited"
    [visible]="model.length !== 0">
  @if (chipsSuffixTemplate) {
    <span matSuffix>
      <ng-container
        [ngTemplateOutlet]="chipsSuffixTemplate"
        [ngTemplateOutletContext]="{ open: autocompleteSearch.isOpen }">
      </ng-container>
    </span>
  }
  <mat-autocomplete
      #autocompleteSearch="matAutocomplete"
      [class]="panelClasses"
      (optionSelected)="optionSelected($event)"
      (closed)="closed()"
      (opened)="opened()"
      [panelWidth]="panelWidth"
      [autoActiveFirstOption]="true">
    @if (keyword && allowText) {
      @if (textData.type === dataType.Text) {
        <mat-option
            class="option option-text"
            [value]="textData"
            [ngClass]="{ valid: textData.valid }">
          <div
              class="option-chip"
              (click)="optionTextClick($event, textData)">
            <span class="check">
              @if (textValidIndicatorTemplate) {
                <ng-container
                  [ngTemplateOutlet]="textValidIndicatorTemplate"
                  [ngTemplateOutletContext]="{ valid: textData.valid }">
                </ng-container>
              } @else {
                {{ textData.valid ? 'Valid' : 'Invalid' }}
              }
            </span>
          </div>
        </mat-option>
      }
    }
    @if (groupBy) {
      <ng-container *ngFor="let group of groupData">
        <mat-optgroup [label]="group.label">
          <ng-container *ngFor="let item of group.data; let index = index">
            <ng-container
              [ngTemplateOutlet]="optionTemplate"
              [ngTemplateOutletContext]="{ item: item, index: index }">
            </ng-container>
          </ng-container>
        </mat-optgroup>
      </ng-container>
    } @else {
      <ng-container *ngFor="let item of data; let index = index">
        <ng-container
          [ngTemplateOutlet]="optionTemplate"
          [ngTemplateOutletContext]="{ item: item, index: index }">
        </ng-container>
      </ng-container>
    }
    <ng-template
        #optionTemplate
        let-item="item"
        let-index="index">
      <mat-option
          [ngClass]="{ multiple: multiple }"
          class="option"
          [value]="item">
        <div
            class="option-chip"
            (click)="optionObjectClick($event, item)">
          <ng-container
            [ngTemplateOutlet]="chipTemplate"
            [ngTemplateOutletContext]="{ 
                item: item, 
                index: index,
                removable: false,
                selecting: true 
              }">
          </ng-container>
        </div>
      </mat-option>
    </ng-template>
    @if (noResults !== false) {
      <mat-option
          disabled
          class="no-results">
        @if (noResultsTemplate) {
          <ng-template
            [ngTemplateOutlet]="noResultsTemplate"
            [ngTemplateOutletContext]="{ keyword: keyword }">
          </ng-template>
        } @else {
          No results
          @if (keyword) {
            for "{{ keyword }}"
          }
        }
      </mat-option>
    }
    @if (staticDirectives.length) {
      <div class="static-templates">
        <ng-container *ngFor="let staticDirective of staticDirectives; let i = index">
          @if (staticDirective.isShow) {
            <mat-option
                class="static-option"
                [disabled]="staticDirective.isDisabled"
                (click)="staticClick($event, i)">
              <ng-template *ngTemplateOutlet="staticDirective.templateRef;context: { keyword: keyword }"></ng-template>
            </mat-option>
          }
        </ng-container>
      </div>
    }
  </mat-autocomplete>
  @if (hint) {
    <mat-hint>
      {{ hint }}
    </mat-hint>
  }
</mat-form-field>
<ng-template
    #chipTemplate
    let-item="item"
    let-index="index"
    let-removable="removable"
    let-selecting="selecting">
  <fs-chip
      [removable]="removable && (!initOnClick || inited)"
      [size]="size"
      [shape]="shape"
      (removed)="chipRemoved(item)"
      [image]="item.image"
      [icon]="item.icon"
      [class]="'fs-autocomplete-chip ' + item.class"
      [backgroundColor]="item.background || background"
      [color]="item.color || color"
      [ngClass]="{
        subtemplated: !!objectSubtemplate
      }"
      tabindex="-1">
    <div class="chip-content">
      @if (item.type===dataType.Object) {
        <ng-template
          [ngTemplateOutlet]="objectTemplate"
          [ngTemplateOutletContext]="{ object: item.data, selecting: selecting, index: index }">
        </ng-template>
        @if (!!objectSubtemplate) {
          <ng-template fsChipSubcontent>
            <ng-template
              [ngTemplateOutlet]="objectSubtemplate"
              [ngTemplateOutletContext]="{ object: item.data, selecting: selecting, index: index }">
            </ng-template>
          </ng-template>
        }
      } @else {
        {{ item.data }}
      }
    </div>
    @if (!selecting) {
      @for (chipSelectedSuffix of chipSelectedSuffixes; track chipSelectedSuffix) {
        <ng-template
          fsChipSuffix
          [icon]="chipSelectedSuffix.icon"
          [color]="chipSelectedSuffix.color"
          [link]="chipSelectedSuffix.link"
          [tooltip]="chipSelectedSuffix.tooltip"
          [show]="chipSelectedSuffix.show"
          [data]="item.data"
          [linkTarget]="chipSelectedSuffix.linkTarget"
          (click)="chipSelectedSuffix.clicked($event)">
        </ng-template>
      }
    }
  </fs-chip>
</ng-template>