<mat-form-field #formField>
  <mat-chip-list
    #searchList
    cdkDropList
    cdkDropListOrientation="horizontal"
    (cdkDropListDropped)="drop($event)">
    <mat-chip
      *ngFor="let item of _model"
      [selectable]="!disabled"
      [removable]="!disabled"
      [disabled]="disabled"
      (removed)="onRemove(item)"
      class="fs-autocomplete-chip"
      [ngClass]="{ imaged: item.image }"
      [style.backgroundColor]="item.background || background"
      [style.color]="item.color || color"
      [cdkDragDisabled]="!orderable || disabled"
      [cdkDragData]="item"
      cdkDrag
      cdkDragHandle>
        <ng-container
          [ngTemplateOutlet]="itemTemplate"
          [ngTemplateOutletContext]="{ item: item }">
        </ng-container>

        <mat-icon
          [style.color]="item.color || color"
          *ngIf="removable && !disabled"
          matChipRemove>cancel</mat-icon>
    </mat-chip>
    <input
      #searchInput
      autocomplete="none"
      [placeholder]="placeholder"
      [disabled]="disabled"
      (keyup)="keyword$.next($event)"
      (focus)="focused($event)"
      (blur)="blured()"
      [name]="name"
      [matAutocomplete]="autocompleteSearch"
      [matChipInputFor]="searchList">
  </mat-chip-list>
  <mat-autocomplete
    #autocompleteSearch="matAutocomplete"
    class="fs-account-picker-autocomplete fs-autocomplete-chips-panel"
    (optionSelected)="onSelect($event)"
    (closed)="closed()"
    autoActiveFirstOption="true">

    <mat-option *ngFor="let item of searchData" [value]="item">
      <ng-container
        [ngTemplateOutlet]="itemTemplate"
        [ngTemplateOutletContext]="{ item: item }">
      </ng-container>
    </mat-option>


    <mat-option *ngIf="noResults && !textData.data" disabled class="no-results">
      No results found
    </mat-option>

    <ng-container *ngIf="keyword && allowText">
      <mat-option *ngIf="textData.type===dataType.Text" [value]="textData">
        <ng-container
          [ngTemplateOutlet]="itemTemplate"
          [ngTemplateOutletContext]="{ item: textData }">
        </ng-container>
      </mat-option>
    </ng-container>

    <ng-container>
      <mat-option
        *ngFor="let staticTemplate of staticTemplates; let i = index"
        class="static-option"
        (click)="staticClick($event, i)"
        [ngClass]="{ 'static-option-first': !i }">
        <ng-template *ngTemplateOutlet="staticTemplate;context: { test: true }"></ng-template>
      </mat-option>
    </ng-container>
  </mat-autocomplete>
</mat-form-field>

<ng-template let-item="item" #itemTemplate>
  <ng-container *ngIf="item.type===dataType.Object" class="item-template">
    <img *ngIf="item.image" [src]="item.image">
    <span>
      <ng-template
        [ngTemplateOutlet]="objectTemplate"
        [ngTemplateOutletContext]="{ object: item.data }">
      </ng-template>
    </span>
  </ng-container>

  <ng-container *ngIf="item.type===dataType.Text">
    {{item.data}}
  </ng-container>
</ng-template>
