@import "~dragula/dist/dragula.css";

mat-form-field {
  display: flex;
  flex: 1;
  flex-direction: row;
  /deep/ .mat-input-wrapper {
    width: 100%;
  }
  /deep/ .mat-form-field-wrapper {
    width: 100%;
  }
}

/deep/ mat-chip {
  mat-icon {
    width: 18px !important;
    height: 18px !important;
    font-size: 18px !important;
    line-height: normal !important;
    &.mat-chip-drag {
      color: rgba(0, 0, 0, .87);
      opacity: 0.54;
      margin-right: 6px;
      width: 1em;
      height: 1em;
      font-size: 21px;
      cursor: pointer;
    }
  }
}
