<fs-autocomplete-chips
    [(ngModel)]="model"
    placeholder="Enter Email Addresses"
    [allowText]="true"
    [allowObject]="true"
    [fetch]="fetch"
    [validateText]="validateText"
    [confirm]="true"
    name="model">
  <ng-template
      fsAutocompleteChipsTextValidIndicator
      let-valid="valid">
    {{ valid ? 'Valid Email' : 'Invalid Email' }}
  </ng-template>
  <ng-template
      fsAutocompleteChipsTemplate
      let-object="object">
    {{ object }}
  </ng-template>
</fs-autocomplete-chips>
<fieldset>
  {{ model | json }}
</fieldset>