<fs-examples [config]="config">

  <fs-example
      name="Kitchen Sink"
      componentName="kitchen-sink-example">
    <kitchen-sink-example></kitchen-sink-example>
  </fs-example>

  <fs-example
      name="Templates &amp; Slots"
      componentName="templates-example">
    <templates-example></templates-example>
  </fs-example>

  <fs-example
      name="Grouped Results"
      componentName="grouped-example">
    <grouped-example></grouped-example>
  </fs-example>

  <fs-example
      name="Static Options"
      componentName="static-options-example">
    <static-options-example></static-options-example>
  </fs-example>

  <fs-example
      name="Orderable Chips"
      componentName="orderable-example">
    <orderable-example></orderable-example>
  </fs-example>

  <fs-example
      name="Inline Single Select"
      componentName="status-example">
    <status-example></status-example>
  </fs-example>

  <fs-example
      name="Text Only"
      componentName="text-example">
    <text-example></text-example>
  </fs-example>

  <fs-example
      name="Text &amp; Objects"
      componentName="email-example">
    <email-example></email-example>
  </fs-example>

  <fs-example
      name="Reactive Forms"
      componentName="reactive-form-example">
    <reactive-form-example></reactive-form-example>
  </fs-example>

  <fs-example
      name="In A Dialog"
      componentName="dialog-example"
      componentNames="dialog">
    <dialog-example></dialog-example>
  </fs-example>

</fs-examples>
