<fs-examples
  title="Autocomplete Chips"
  githubUrl="https://github.com/Firestitch/fs-autocomplete-chips"
  npmUrl="https://www.npmjs.com/package/@firestitch/autocomplete-chips">

  <fs-example title="Autocomplete Chips" componentName="autocomplete-chips-example">
    <autocomplete-chips-example></autocomplete-chips-example>
  </fs-example>

  <fs-example title="Autocomplete Chips with order" componentName="autocomplete-chips-orderable-example">
    <autocomplete-chips-orderable-example></autocomplete-chips-orderable-example>
  </fs-example>

</fs-examples>
