
<fs-autocomplete-chips
    [fetch]="fetch"
    [(ngModel)]="model"
    [allowText]="true"
    [validateText]="validateText"
    invalidTextMessage="Invalid email address"
    placeholder="Select Account or Enter Email Address"
    [initOnClick]="true"
    [chipImage]="config.image ? 'image' : ''"
    [chipColor]="config.color ? '#fff' : ''"
    [chipBackground]="config.color ? 'background' : ''"
    [chipIcon]="config.icon ? 'icon' : ''"
    chipIconColor="#444"
    chipClass="gender"
    panelClass="custom-panel"
    [orderable]="config.orderable"
    [removable]="config.removable"
    [size]="config.size"
    [disabled]="config.disabled"
    [fetchOnFocus]="config.fetchOnFocus"
    [compareWith]="compareWith"
    [multiple]="config.multiple"
    hint="Hint hint hint"
    (ngModelChange)="modelChange($event)"
    name="model">
  <ng-template fsAutocompleteChipsTemplate let-object="object" let-selecting="selecting">
    {{object.firstName}} {{object.lastName}}
  </ng-template>

  <ng-template fsAutocompleteChipsSuffix>
    <a (click)="chipsSuffixClick($event)" class="chips-suffix">
      <mat-icon>tune</mat-icon>
    </a>
  </ng-template>

  <ng-template fsAutocompleteChipSuffix let-object="object" let-selecting="selecting">
    <a (click)="suffixClick($event, object)" *ngIf="!selecting" [ngClass]="{ selected: object.firstName===activeFirstName }">
      <mat-icon [ngStyle]="{ color: '#fff' }">launch</mat-icon>
    </a>
  </ng-template>

  <ng-template fsAutocompleteChipsStatic (click)="staticClick($event)">
    Add New Account
  </ng-template>

  <ng-template fsAutocompleteChipsStatic (click)="selectAllClick($event)">
    Select All Accounts
  </ng-template>

  <ng-template fsAutocompleteChipsNoResults>
    <div class="custom-results">Custom No Results</div>
  </ng-template>
</fs-autocomplete-chips>

<mat-tab-group mat-align-tabs="start">
  <mat-tab label="First">
    <div fxLayout="column" fxLayoutGap="5px">
      <mat-checkbox [(ngModel)]="config.multiple">Multiple</mat-checkbox>
      <mat-checkbox [(ngModel)]="config.fetchOnFocus">Fetch On Focus</mat-checkbox>
      <mat-checkbox [(ngModel)]="config.disabled">Disabled</mat-checkbox>
      <mat-checkbox [(ngModel)]="config.removable">Removable</mat-checkbox>
      <mat-checkbox [(ngModel)]="config.orderable">Orderable</mat-checkbox>
      <mat-checkbox [(ngModel)]="config.image">Image</mat-checkbox>
      <mat-checkbox [(ngModel)]="config.color">Color</mat-checkbox>
      <mat-checkbox [(ngModel)]="config.icon">Icon</mat-checkbox>

      <mat-radio-group [(ngModel)]="config.size">
        Size:&nbsp;
        <mat-radio-button value="large">Large</mat-radio-button>
        &nbsp;&nbsp;
        <mat-radio-button value="small">Small</mat-radio-button>
      </mat-radio-group>
    </div>
  </mat-tab>
  <mat-tab label="Data">
    <pre>{{ model | json }}</pre>
  </mat-tab>
</mat-tab-group>

