
<fs-autocomplete-chips
  [fetch]="fetch"
  [(ngModel)]="model"
  [allowText]="true"
  [validateText]="validateText"
  invalidTextMessage="Invalid email address"
  placeholder="Select Account or Enter Email Address"
  [initOnClick]="true"
  [chipImage]="config.image ? 'image' : ''"
  [chipColor]="config.color ? '#fff' : ''"
  [chipBackground]="config.color ? 'background' : ''"
  [chipIcon]="config.icon ? 'icon' : ''"
  chipIconColor="#444"
  chipClass="gender"
  [orderable]="config.orderable"
  [removable]="config.removable"
  [size]="config.size"
  [disabled]="config.disabled"
  [fetchOnFocus]="config.fetchOnFocus"
  [compareWith]="compareWith"
  [multiple]="config.multiple"
  (ngModelChange)="modelChange($event)"
  name="model">
  <ng-template fsAutocompleteChipsTemplate let-object="object">
    {{object.first_name}} {{object.last_name}}
  </ng-template>

  <ng-template fsAutocompleteChipsStatic (click)="staticClick($event)">
    Add New Account
  </ng-template>
</fs-autocomplete-chips>

<mat-tab-group mat-align-tabs="start">
  <mat-tab label="First">
    <div fxLayout="column" fxLayoutGap="5px">
      <mat-checkbox [(ngModel)]="config.multiple">Multiple</mat-checkbox>
      <mat-checkbox [(ngModel)]="config.fetchOnFocus">Fetch On Focus</mat-checkbox>
      <mat-checkbox [(ngModel)]="config.disabled">Disabled</mat-checkbox>
      <mat-checkbox [(ngModel)]="config.removable">Removable</mat-checkbox>
      <mat-checkbox [(ngModel)]="config.orderable">Orderable</mat-checkbox>
      <mat-checkbox [(ngModel)]="config.image">Image</mat-checkbox>
      <mat-checkbox [(ngModel)]="config.color">Color</mat-checkbox>
      <mat-checkbox [(ngModel)]="config.icon">Icon</mat-checkbox>

      <mat-radio-group [(ngModel)]="config.size">
        Size:&nbsp;
        <mat-radio-button value="large">Large</mat-radio-button>
        &nbsp;&nbsp;
        <mat-radio-button value="small">Small</mat-radio-button>
      </mat-radio-group>
    </div>
  </mat-tab>
  <mat-tab label="Data">
    <pre>{{ model | json }}</pre>
  </mat-tab>
</mat-tab-group>

