<fs-autocomplete-chips
    [fetch]="fetch"
    [(ngModel)]="model"
    label="Account"
    [floatLabel]="'always'"
    [shape]="config.shape"
    chipClass="gender"
    panelClass="custom-panel"
    [padless]="true"
    [chipImage]="config.image ? 'image' : null"
    [orderable]="config.orderable"
    [removable]="config.removable"
    [size]="config.size"
    [disabled]="config.disabled"
    [groupBy]="groupBy"
    [fetchOnFocus]="config.fetchOnFocus"
    [compareWith]="compareWith"
    [multiple]="config.multiple"
    hint="Hint hint hint"
    (ngModelChange)="modelChange($event)"
    name="model">
  <ng-template
      fsAutocompleteChipsTemplate
      let-object="object"
      let-selecting="selecting"
      let-index="index">
    {{ object.firstName }} {{ object.lastName }}
  </ng-template>
  <ng-template
    fsAutocompleteChipSelectedSuffix
    (click)="chipsSuffixClick($event)"
    [icon]="'tune'"
    [tooltip]="'Tooltip'"
    [show]="true">
  </ng-template>
  <ng-template
      fsAutocompleteChipsStatic
      (click)="selectAllClick()">
    Select All
  </ng-template>
  @if (config.subtemplate) {
    <ng-template fsAutocompleteChipsSubtemplate>
      Subtemplate
    </ng-template>
  }
  <ng-template
      fsAutocompleteChipsStatic
      let-keyword="keyword"
      [show]="showKeyword"
      (selected)="selected($event)">
    Sorry cannot find "{{ keyword }}"
  </ng-template>
  <ng-template
      fsAutocompleteChipsStatic
      let-keyword="keyword"
      [show]="showKeyword"
      (selected)="selected($event)">
    <ng-container *ngIf="keyword">
      Create new "{{ keyword }}"
    </ng-container>
    <ng-container *ngIf="!keyword">
      Start typing to create a new account
    </ng-container>
  </ng-template>
  <ng-template fsAutocompleteChipsNoResults>
    <div class="custom-results">
      Custom No Results
    </div>
  </ng-template>
  @if (config.subtemplate) {
    <ng-template
        fsAutocompleteChipsSubtemplate
        let-object="object"
        let-selecting="selecting"
        let-index="index">
      Small text
    </ng-template>
  }
</fs-autocomplete-chips>
<br>
<mat-tab-group mat-align-tabs="start">
  <mat-tab label="First">
    <div class="fs-column">
      <mat-checkbox [(ngModel)]="config.multiple">
        Multiple
      </mat-checkbox>
      <mat-checkbox [(ngModel)]="config.fetchOnFocus">
        Fetch On Focus
      </mat-checkbox>
      <mat-checkbox [(ngModel)]="config.disabled">
        Disabled
      </mat-checkbox>
      <mat-checkbox [(ngModel)]="config.removable">
        Removable
      </mat-checkbox>
      <mat-checkbox [(ngModel)]="config.orderable">
        Orderable
      </mat-checkbox>
      <mat-checkbox [(ngModel)]="config.image">
        Image
      </mat-checkbox>
      <mat-checkbox [(ngModel)]="config.color">
        Color
      </mat-checkbox>
      <mat-checkbox [(ngModel)]="config.icon">
        Icon
      </mat-checkbox>
      <mat-checkbox [(ngModel)]="config.subtemplate">
        Subtemplate
      </mat-checkbox>
      <mat-radio-group [(ngModel)]="config.size">
        Size:&nbsp;
        <mat-radio-button value="large">
          Large
        </mat-radio-button>
        &nbsp;&nbsp;
        <mat-radio-button value="small">
          Small
        </mat-radio-button>
      </mat-radio-group>
    </div>
    <mat-radio-group [(ngModel)]="config.shape">
      Shape:&nbsp;
      <mat-radio-button value="roundChip">
        Round
      </mat-radio-button>
      &nbsp;&nbsp;
      <mat-radio-button value="squareChip">
        Square
      </mat-radio-button>
      &nbsp;&nbsp;
      <mat-radio-button value="none">
        None
      </mat-radio-button>
    </mat-radio-group>
  </mat-tab>
  <mat-tab label="Data">
    <pre>
      {{ model | json }}
    </pre>
  </mat-tab>
</mat-tab-group>
{{ model|json }}
<a (click)="openDialog()">
  Fetch
</a>