<form fsForm>
  <fs-dialog>
    <h1 mat-dialog-title>
      Select Account
    </h1>
    <mat-dialog-content>
      <fs-autocomplete-chips
          [fetch]="fetch"
          [(ngModel)]="model"
          label="Accounts"
          floatLabel="always"
          placeholder="Search accounts"
          hint="The panel re-measures itself as the dialog resizes"
          chipImage="image"
          name="model">
        <ng-template
            fsAutocompleteChipsTemplate
            let-object="object">
          {{ object.firstName }} {{ object.lastName }}
        </ng-template>
      </fs-autocomplete-chips>
    </mat-dialog-content>
    <mat-dialog-actions>
      <button
          mat-flat-button
          color="primary"
          type="button"
          [mat-dialog-close]="model">
        Select
      </button>
      <button
          mat-button
          type="button"
          [mat-dialog-close]="undefined">
        Cancel
      </button>
    </mat-dialog-actions>
  </fs-dialog>
</form>
